<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/mongooses/edit/<%=users.id%>" method="POST">
            <fieldset>
                <p>
                    <label>name:</label>
                    <input type="text" name="id" value="<%=users.id%>">
                    <input type="text" name="name" value="<%=users.name%>">
                </p>
                <p>
                    <label>quote:</label>
                    <input type="text" name="quote" value="<%=users.quote%>">
                </p>
                <input type="submit" value="update">
            </fieldset>
        </form>
    </div>
</body>
</html>